# environment variables
.env

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments
.venv/
venv/
env/

# uv cache
.uv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# build files
dist/
build/
*.egg-info/